/* Typography Style Guide
  Sizes:
    - h1: 120px
    - h2: 100px
    - h3: 72px
    - h4: 40
    - p: 32
    - small: 24

  Other Styles:
    - line height: 150% (all text)
*/

* {
  font-family: Raleway;
}

h1 {
  @apply text-7xl font-bold m-0 leading-snug;
}

p {
  font-size: 12px;
}

.slidev-layout.cover {
  @apply h-full grid;
}
